header{
    text-align: center;
}

img {
    border: 5px solid black;
    text-align: center;
}

main {
    width: 1024px;
    margin: 0 auto;
    background-color: #faf5ef;
}

.cv {
    padding: 10px;
    font-size: 16px;
    font-family: Georgia, serif;
    line-height: 2;
}

a {
    color: black;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    color: green;
}